*{
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin: 0;
}
.container{
    width: 450px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgb(0,0,0,0.2);
}
h2{
    text-align: center;
    margin-bottom: 25px;
}
label{
    font-weight: bold;
}
input, select{
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 18px;
    border:1px solid #ccc;
    border-radius: 6px;
}
button{
    background: #2b8df0;
    color:white;
    padding: 12px;
    width: 100%;
    border:none;
    border-radius: 8px;
    font-size:16px;
}
button:hover{
    background: #1c6dcc;
}
.botao-lista{
    display: block;
    text-align: center;
    margin-top: 15px;
    background:#444;
    padding:12px;
    color:white;
    border-radius: 8px;
    text-decoration: none;
    font-size: 15px;
}
.botao-lista:hover{
    background-color: #222;
}